<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/main.css">
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <title>To Do App</title>
    </head>
    <body>
        <Center>
            <div id="vueApp">
                <h1 class="title" v-text="title"></h1> 
                    <div class="container">
                        <input v-model="newItem" v-on:keyup.enter="addItem"/>
                        <span>
                            <button @click.prevent="addItem">Add</button> 
                            <button @click.prevent="clearState">Clear All Tasks</button>
                        </span>
                        <ul v-for="list in lists" vbind:key="list.id" style="list-style-type:none;">
                            <li><input type="checkbox" v-model="list.completed" @change="setComplete(list.id, this)">{{list.item}}<button @click.prevent="removeItem(list.id)">Delete</button></li>
                        </ul> 
                    </div>

                    <!-- <section class="vh-100" style="background-color: #e2d5de;">
                        <div class="container py-5 h-100">
                            <div class="row d-flex justify-content-center align-items-center h-100">
                                <div class="col col-xl-10">
                                    <div class="card" style="border-radius: 15px;">
                                        <div class="card-body p-5">
                                            <h6 class="mb-3">Awesome Todo List</h6>
                                            <form class="d-flex justify-content-center align-items-center mb-4">
                                                <div class="form-outline flex-fill">
                                                    <input type="text" id="form3" class="form-control form-control-lg" />
                                                    <label class="form-label" for="form3">What do you need to do today?</label>
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-lg ms-2">Add</button>
                                            </form>
                        
                                            <ul class="list-group mb-0">
                                                <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                                    <div class="d-flex align-items-center">
                                                        <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                                                        Cras justo odio
                                                    </div>
                                                    <a href="#!" data-mdb-toggle="tooltip" title="Remove item">
                                                        <i class="fas fa-times text-primary"></i>
                                                    </a>
                                                </li>
                                                <li class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                                    <div class="d-flex align-items-center">
                                                    <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." checked />
                                                    <s>Dapibus ac facilisis in</s>
                                                    </div>
                                                    <a href="#!" data-mdb-toggle="tooltip" title="Remove item">
                                                    <i class="fas fa-times text-primary"></i>
                                                    </a>
                                                </li>
                                                <li class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                                    <div class="d-flex align-items-center">
                                                    <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                                                    Morbi leo risus
                                                    </div>
                                                    <a href="#!" data-mdb-toggle="tooltip" title="Remove item">
                                                    <i class="fas fa-times text-primary"></i>
                                                    </a>
                                                </li>
                                                <li class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                                    <div class="d-flex align-items-center">
                                                    <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                                                    Porta ac consectetur ac
                                                    </div>
                                                    <a href="#!" data-mdb-toggle="tooltip" title="Remove item">
                                                    <i class="fas fa-times text-primary"></i>
                                                    </a>
                                                </li>
                                                <li class="list-group-item d-flex d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-0">
                                                    <div class="d-flex align-items-center">
                                                    <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." checked />
                                                    Vestibulum at eros
                                                    </div>
                                                    <a href="#!" data-mdb-toggle="tooltip" title="Remove item">
                                                    <i class="fas fa-times text-primary"></i>
                                                    </a>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                                    <div class="d-flex align-items-center">
                                                    <input class="form-check-input me-2" type="checkbox" value="" aria-label="..." />
                                                    Morbi leo risus
                                                    </div>
                                                    <a href="#!" data-mdb-toggle="tooltip" title="Remove item">
                                                    <i class="fas fa-times text-primary"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> -->
            </div>
        </Center>

        <script src="js/vue.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
